body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* background-color: #000000; */

}

.card{
   display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-column:auto;
  grid-gap: 1.5rem; 
  color: rgb(17, 7, 7);
  position: absolute;
  left: 1em;
  top:3rem;
  width: 50rem;
  
}
.country{

  border: none;
  border-radius: 25px;
  border-collapse:separate;
  border-spacing: 15rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 40rem;
}

.country img{
  width:39.9rem;
  height: 11em;
  overflow: hidden;
}


.country-details{
  display: flex;
  justify-content:space-around;
  align-items:center;
  gap: 1rem;
}

.card input{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.7em;
  position: fixed;
 width: 10rem;
 height: 0.8rem;
 background: transparent;
}

.card input::placeholder{
  color: black;
}

.card input[type=text]{
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px  4px rgb(0, 0, 0,0.6);
}

.dark{
  background-color: #353935;
  color: white;
}

.card button{
  height: 2rem;
  width: 5rem;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  
}

.form-container{
  margin-top: 20px;
  
}
